html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #292929;
    overflow: hidden;
}

nav {
    padding-top: 5em;
    /* position: absolute;
    top: 10%;
    right: 0;
    left: 0; */
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
}

nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.2s ease color;
}

nav a:before,
nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before {
    background-color: yellow;
}

nav a:nth-child(1):after {
    background-color: red;
}

nav a:nth-child(2):before {
    background-color: #00e2ff;
}

nav a:nth-child(2):after {
    background-color: #89ff00;
}

nav a:nth-child(3):before {
    background-color: purple;
}

nav a:nth-child(3):after {
    background-color: palevioletred;
}

#indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover {
    color: #fff;
}

nav a:hover:before,
nav a:hover:after {
    transform: scale(1);
}

nav a:nth-child(1):hover~#indicator {
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover~#indicator {
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover~#indicator {
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}

#ytd-url {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px 14px;
    margin: 20px;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
    z-index: 125;
}

footer {
    position: absolute;
    top: 85%;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
}

footer p {
    color: #fff;
    text-align: center;
    color: #949494;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    font-size: 1em;
}

.error {
    color: red;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
}

.error p {
    line-height: 200px
}

table {
    width: 700px;
    border: 1px solid green;
    margin: auto;
}

td,
th {
    color: #fff;
    font-family: Arial;
}

.employee-form,
.logs {
    width: 450px;
    border: 1px solid green;
    margin: auto;
    columns: 3;

}

.form-group,
.form-section {
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
}

.form-group,
.form-section input,
.form-group,
.form-section label,
.form-group textarea {
    display: block;
    width: 100%;
}

.form-group input textarea label {
    padding: 0;
    line-height: 30px;
    border-width: 0;
}

.form-group,
.form-section label {
    margin-bottom: 5px;
    color: #FAAB1B;
    text-transform: uppercase;
    font-size: 12px;
}

#add-new-book {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 450px;
    border: 1px solid green;
    margin: auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    height: 30%;
}


.form-control {
    width: 130px;
}

.btn {
    margin: auto;
}

.customer-form {
    width: 450px;
    border: 1px solid green;
    margin: auto;
}